.Main-Navbar {
    display: flex;
    justify-content: space-between;
    background-color: chartreuse;
    align-items: center; 
    height:80px;   
}
.logo {
 font-size: 100px;
 
     
}
.first-Navbar a{
    text-decoration: none;
    /* margin-right: 20px; */
    padding: 10px;

    
    
}
